* {
    box-sizing: border-box;
}

.content h2 {
    font-size: 15px !important;
}
body{
    margin-top: 15%;
}
.containerFooter img{
	max-width: 40%;
}
.footer a{
	margin: 0 auto;
}

.logo{
	padding-top: 30px;
	width: 20%;
	margin: 0 auto;
}
/*.products{
	font-family: 'Open Sans', sans-serif;
	padding: 0 6px;
    float: left;
    width: 24.99999%;
	margin: 20px;
}
.products:hover{
    border: 1px solid #777;
}

.products img{
    width: 100%;
    height: auto;
} 
.products_name{
	font-size: 15px;
}
.products_description, .products_price{
    padding: 15px;
    text-align: center;
}
*/
.product-item {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative;
}
.product-item:hover {
    box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
}
.product-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height:0;
}
.sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
}
.pi-img-wrapper {
    position: relative;
}
div.alert{
	margin-top: 50px;
}
div.panel-body{
	word-wrap: break-word;
}

.pi-img-wrapper div {
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.product-item:hover>.pi-img-wrapper>div {
    display: block;
}
.pi-img-wrapper div .btn {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: -13px 5px 0;
    background: transparent;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 12px;
}
.product-item .btn:hover {
    background: #e84d1c;
    border-color: #c8c8c8;
}
.products_name {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 4px;
    text-transform: uppercase;
}
.product-item a {
    color: #3e4d5c;
}
.product-item a:hover {
    color: #E02222;
}
.products_price {
    color: #e84d1c;
    font-size: 18px;
    float: left;
    padding-top: 1px;
}
.product-item .add2cart {
    float: right;
    color: #a8aeb3;
    border: 1px #ededed solid;
    padding: 3px 6px;
    text-transform: uppercase;
}
.product-item .add2cart:hover {
            color: #fff;
            background: #e84d1c;
            border-color: #e84d1c;
        }

        .navbar-right:hover img {
          transform:rotate(-15deg);
        }
        .navbar-right a {
          padding: 0 !important;
          margin-top: 10px;
        }
        .navbar-right img {
          width: 100%;
        }

        .navbar-right {
            width: 15%;
            display: inline-block;
        }
        .navbar-nav input {
           margin-top: 10px;
        }
.coordonnees h2,.coordonnees h4{
    font-weight: bold;
}
.contact h2{
    font-weight: bold;
}
.form-area
{
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
}
input[type="range"] {
    position: relative;
    margin-left: 1em;
}
input[type="range"]:after, input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}
input[type="range"] {
    display: inline-block;
    width: 30%;
}
output {
    position: absolute;
    top: 45%;
    left: 75%;
    font-size: 2rem;
    font-weight: bold;
    color: DarkBlue;
}
body{
    margin-top: 100px;
}
.categories h1{
    margin-bottom: 50px;
}
/*BOOTSRAP*/
/*.navbar-toggle .icon-bar:nth-of-type(2) {
      top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
      position: relative;
      transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
      top: 6px;
      transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
      background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
      top: -6px;
      transform: rotate(-45deg);
}
*/
/*@media screen and (min-width:700px){
    .categories h1
    {
        margin-top: 100px;
    }
    .content h1{
        margin-top: 100px;
    }
    .title{
        margin-top: 100px;
    }
    .panier{
        margin-top: 100px;
    }
}*/

.nav ul li {
    /*width: 20%;*/
}